<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jw.kids.dao.ClassManageDAO" >
<select id="listByClassId" parameterType="java.lang.Long" resultType="java.util.HashMap">
        SELECT
        t.teacher_id as teacherId,
        teacher_nm as teacherNm,
        r.class_id as classId,
        c.class_nm as classNm
    FROM
        t_teacher t,
        t_teacher_class_rel r,
        t_class c
    WHERE
        t.teacher_id = r.teacher_id
    AND r.class_id = c.class_id
    AND r.class_id = #{classId,jdbcType=BIGINT};
</select>
<select id="listClassLog" parameterType="java.util.HashMap" resultType="java.util.HashMap">
    SELECT
    log_id as logId,
    l.class_id as classId,
    content as content,
    l.crt_time as crtTime,
    class_time as classTime,
    class_nm as classNm
FROM
    t_class_log l,
    t_class t
WHERE
    t.class_id = l.class_id
    <if test="classId != null">
        AND t.class_id = #{classId,jdbcType=BIGINT}
    </if>
    <if test="logId != null">
        AND l.log_id = #{logId,jdbcType=BIGINT}
    </if>
    order by crtTime desc
    <if test="(start != null) and (end != null)">
    limit #{start, jdbcType=INTEGER}, #{end, jdbcType=INTEGER};
    </if>
</select>
<select id="listLogDetail" parameterType="java.util.HashMap" resultType="java.util.HashMap">
    SELECT
        a.detail_log_id AS detailLogId,
        b.log_id AS logId,
        b.class_time as classTime
    FROM
        t_class_log_detail a,
        t_class_log b
    where
        a.log_id = b.log_id
    and
    <if test="logObjId != null">
        log_obj_id = #{logObjId,jdbcType=BIGINT}
    </if>
    <if test="logType == -1">
        AND( log_type = 2 or log_type = 3)
    </if>
    <if test="logType != -1 and logType != null ">
        and log_type = #{logType,jdbcType=TINYINT}
    </if>
    ORDER BY b.class_time desc
    <if test="(start != null) and (end != null)">
        limit #{start, jdbcType=INTEGER}, #{end, jdbcType=INTEGER};
    </if>
</select>


</mapper>